.zk-card {
  border: 0.3px solid rgb(234, 234, 234);
  border-radius: 24px;
  padding: 31.53px;
  margin: 12px 0;
  background-color: white;
  transition: all ease-in 0.2s;
}
.zk-card:hover {
  transition: all ease-out 0.2s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.zk-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.zk-card a {
  font-size: 20px;
  font-weight: 700;
  color: #5e8000;
  text-decoration: none;
}
.zk-card a:hover {
  color: #4e6b00;
}
.jumbotron {
  background-image: url("https://i.ibb.co/SvR6ZTW/jumbotron.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#about-us iframe {
  border: 2px solid #0f8c8a;
}
.icon-fitur i {
  color: #135587;
}

.text-orange {
  color: #f84c00;
  font-weight: bold;
}
.btn-service {
  border-radius: 16px;
}

iframe.maps {
  width: 500px;
  height: 350px;
}

@media only screen and (max-width: 600px) {
  .zk-card {
    border: 0.3px solid rgb(234, 234, 234);
    border-radius: 14px;
    padding: 10px;
    margin: 12px 0;
    background-color: white;
    transition: all ease-in 0.2s;
  }
  .zk-card:hover {
    transition: all ease-out 0.2s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .zk-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .zk-card a {
    font-size: 14px;
    font-weight: 700;
    color: #5e8000;
    text-decoration: none;
  }
  .zk-card a:hover {
    color: #4e6b00;
  }
  iframe.maps {
    width: 300px;
    height: 150px;
  }
}
